<%- include("partials/header") %>

<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-137.jpg?w=2000');"
>
  <h1 class="mt-2 h1 heading d-flex justify-content-center">The Little Quirks That Melt My Heart</h1>
	<h3 class="heading mt-5 d-flex justify-content-center">
		- Ingrid Jeannis Desire
	</h3>
</div>

<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
	<div class="container">
  <div class="row">
    <div class="col-md-6 p-4">
		<p class="fw-bolder fst-italic h3">
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis."
		</p>
		<p>
			<span class="pb-3 border-danger border-bottom border-5">-- The Little Quirks That Melt My Heart </span>
		</p>
		<p class="pt-3 fs-5">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis, purus metus malesuada ante, nec ornare ipsum magna eu est. Etiam sed orci nisi. Duis id mi pulvinar, maximus tortor luctus, suscipit ante. Proin suscipit tellus non tellus.
		</p><p class="pt-3 fs-5">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis, purus metus malesuada ante, nec ornare ipsum magna eu est. Etiam sed orci nisi. Duis id mi pulvinar, maximus tortor luctus, suscipit ante. Proin suscipit tellus non tellus.
		</p><p class="pt-3 fs-5">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis, purus metus malesuada ante, nec ornare ipsum magna eu est. Etiam sed orci nisi. Duis id mi pulvinar, maximus tortor luctus, suscipit ante. Proin suscipit tellus non tellus.
		</p>
		<button type="button" class="btn btn-lg btn-outline-danger">Learn More</button>
		<a href="https://www.amazon.com"><button type="button" class="btn btn-lg btn-outline-primary">Buy Now!</button></a>

	  </div>
    <div class="col-md-6 p-4">
		<img class="book" src="https://i.imgur.com/ZMTC3il.png">
	</div>
</div>
	</div>
	</div>
		
<div
  class="bg-image p-4 shadow-1-strong rounded mb-5 text-white"
  style="background: rgb(47,42,128);
background: linear-gradient(90deg, rgba(47,42,128,1) 0%, rgba(6,23,82,1) 43%, rgba(183,235,246,1) 100%););"
>
<div class="container">
	<div class="container">
	<div class="row">
    <div class="col-md-6 p-4">
		<p class="fw-bolder fst-italic h3">
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis."
		</p>
		<p>
			<span class="fs-5">-- The Little Quirks That Melt My Heart </span>
		</p>
		<p class="pt-1 fs-5">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis, purus metus malesuada ante, nec ornare ipsum magna eu est. Etiam sed orci nisi. Duis id mi pulvinar, maximus tortor luctus, suscipit ante. Proin suscipit tellus non tellus.
		</p>
		<button type="button" class="btn btn-lg btn-outline-danger">Learn More</button>

	  </div>
		<div class="col-md-6 p-4"></div>
	  </div>
	</div>
	</div>
</div>

<div class="container">
	<div class="container">
	<div class="row">
    <div class="col-md-6 p-4">
		<p class="fw-bolder fst-italic h3">
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis."
		</p>
		<p>
			<span class="fs-5">-- The Little Quirks That Melt My Heart </span>
		</p>
		<p class="pt-1 ps-2 fs-5 border-danger border-start border-5">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis, purus metus malesuada ante, nec ornare ipsum magna eu est. Etiam sed orci nisi. Duis id mi pulvinar, maximus tortor luctus, suscipit ante. Proin suscipit tellus non tellus.
		</p>
		<a href="https://www.amazon.com"><button type="button" class="btn btn-lg btn-outline-primary">Buy Now!</button></a>

	  </div>
		<div class="col-md-6 p-4"></div>
	  </div>
	</div>
	</div>
</div>

<div
  class="bg-image p-4 shadow-1-strong rounded mb-5 text-white"
  style="background: rgb(47,42,128);
background: radial-gradient(circle, rgba(47,42,128,1) 0%, rgba(6,23,82,1) 65%, rgba(183,235,246,1) 100%););"
>
<div class="container text-center">
	<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
    <div class="col-md-6 p-4">
		<p class="fw-bolder fst-italic h3">
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non interdum lectus, in lacinia tortor. Cras pellentesque, dolor sit amet tristique mollis."
		</p>
		<p>
			<span class="fs-5">-- The Little Quirks That Melt My Heart </span>
		</p>

		<button type="button" class="btn btn-lg btn-outline-danger">Learn More</button>

	  </div>
				<div class="col-md-3"></div>

	  </div>
	</div>
	</div>
</div>

<div class="container demo pt-4 pb-4" id="scrollspyHeading1">
	<h2 class="d-flex justify-content-center">
		Reviews:
	</h2>
	<div class="row row-cols-1 row-cols-md-3 g-4 ">
	  <div class="col">
		<div class="card h-100">
		  <img src="https://upload.wikimedia.org/wikipedia/en/a/aa/Times_Now_2010.png" alt="...">
		  <div class="card-body">
			<h5 class="card-title">A must read! - Times Now</h5>
			<p class="card-text">In addition to great music and a magnificent Mardi Gras celebration, the Crescent City is the setting for many classic and award-winning novels. </p>
		  </div>
		  <div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		  </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card h-100">
		  <img src="https://upload.wikimedia.org/wikipedia/en/a/aa/Times_Now_2010.png" alt="...">
		  <div class="card-body">
			<h5 class="card-title">A must read! - Times Now</h5>
			<p class="card-text">In addition to great music and a magnificent Mardi Gras celebration, the Crescent City is the setting for many classic and award-winning novels. </p>
		  </div>
		  <div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		  </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card h-100">
		 <img src="https://upload.wikimedia.org/wikipedia/en/a/aa/Times_Now_2010.png" alt="...">
		  <div class="card-body">
			<h5 class="card-title">A must read! - Times Now</h5>
			<p class="card-text">In addition to great music and a magnificent Mardi Gras celebration, the Crescent City is the setting for many classic and award-winning novels. </p>
		  </div>
		  <div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		  </div>
		</div>
	  </div>
	</div>
	<div class="pt-2 d-flex justify-content-center">
		<button type="button" class="btn btn-lg btn-outline-danger">More Reviews...</button>
	</div>

</div>

<div
  class="bg-image p-4 shadow-1-strong rounded mb-5 text-white"
  style="background: rgb(47,42,128);
background: linear-gradient(90deg, rgba(47,42,128,1) 0%, rgba(6,23,82,1) 43%, rgba(183,235,246,1) 100%););"
>
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
	<div class="container">
  <div class="row">
    <div class="col-md-6 p-4">
				<img class="book" src="https://i.imgur.com/ZMTC3il.png">

	  </div>
    <div class="col-md-6 p-4">
		<p class="fw-bolder h3 border-danger border-bottom border-3 pb-4">
			ABOUT THE AUTHOR
		</p>
		<p>
			<span class="pb-3 border-danger border-bottom border-5">                </span>
		</p>
		<p class="pt-3 fs-5">
			Ingrid Jeannis-Desire is a woman of great passion with a positive outlook on life who believes that life offers infinite possibilities; we all just have to find our niche. She lives in a suburb of New York with her husband and daughter.
		</p><p class="pt-3 fs-5">
			She is a retiree in the educational system, but not from education as education is life itself. She is a life-long learner who relishes on discovering and learning new things day by day. She works on projects that promote the welfare of humanity. Life, after all, is about improvement and empowerment.
		</p><p class="pt-3 fs-5">
			She devoted a major part of her life as a teacher, a counselor, and school administrator. Her degrees in the field of psychology, special education, guidance and school counseling, school leadership, and counseling psychology, ranging from the levels of bachelor through doctorate, has paved the path for her many accomplishments. She is grateful for all her experiences and who she is today.
		</p><p class="pt-3 fs-5">
Her journey with the autistic population was God-sent. God knew what He was doing when He placed her in that school. This experience, this journey transformed her life forever.
		</p>
		<button type="button" class="btn btn-lg btn-danger">Learn More</button>

	  </div>
</div>
	</div>
	</div>
	</div>
<%- include("partials/footer") %>		