<%- include("partials/header") %>

<div
  class="bg-image p-3 d-flex justify-content-center align-items-center text-center shadow-1-strong rounded mb-3 text-white"
  style="background-image: url('https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-137.jpg?w=2000');min-height:400px"
>
	<div>
  <h1 class="text-center heading">The Little Quirks That Melt My Heart</h1>
	<h3 class="text-center heading mt-4">
		- Ingrid Jeannis Desire
	</h3>
	</div>
</div>

<h4 class="text-center display-1 my-3">Coming Soon! Save the Date.</h4>

<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
	<div class="container">
  <div class="row">
    <div class="col-md-6 p-4">
		<img class="book" src="/FrontCover.png">
	 </div>
    <div class="col-md-6 p-4">
		<p class="fw-bolder h3 border-danger border-bottom border-3 pb-4">
			ABOUT THE AUTHOR
		</p>
		<p>
			<span class="pb-3 border-danger border-bottom border-5">                </span>
		</p>
		<p class="pt-3 fs-5">
			The autistic community is often misunderstood. There is such variety within individuals in the community, and each person has his or her own idiosyncrasies. Through fifteen years of working with autistic children, author Ingrid Jeannis-Desire grew to love the individual rituals of the students she interacted with, and through this process, she learned about the beauty, strength, and intelligence that the autistic population possesses. 


		</p><p class="pt-3 fs-5">
The Little Quirks That Melt My Heart by Ingrid Jeannis-Desire is an inspiring memoir which looks back at the author’s fifteen years working as a school administrator for a program which served autistic children. Story by story, Ingrid shares about the relationships she built with the children and the individual quirks they exhibited toward her, for her. They all built something special with Ingrid, and their interactions taught her more about life and herself.		</p><p class="pt-3 fs-5">
A heartwarming read that will touch readers deeply, this book explores the many nuances of the autistic population, emphasizing not their limitations but rather the unique abilities they bring to the world around them. It is a reminder that we can find commonality and joy in one another, no matter how different we may seem on the surface.
		</p>
		<button type="button" class="btn btn-lg btn-danger">Learn More</button>
		<a href="https://www.amazon.com"><button type="button" class="btn btn-lg btn-primary">Buy Now!</button></a>

	  </div>
</div>
	</div>
	</div>


<div
  class="bg-image p-4 shadow-1-strong rounded mb-3 text-white"
  style="background: rgb(47,42,128);
background: radial-gradient(circle, rgba(47,42,128,1) 0%, rgba(6,23,82,1) 65%, rgba(183,235,246,1) 100%););"
>
<div class="container text-center">
	<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
    <div class="col-md-6 p-3">
		<p class="fw-bolder fst-italic h3">
			"The autistic children have given me the gift of life. I don’t think they are aware of just – how precious they are!"
		</p>
		<p>
			<span class="fs-5">- Ingrid Jeannis Desire </span>
		</p>

		<button type="button" class="btn btn-lg btn-outline-danger">Learn More</button>

	  </div>
		<div class="col-md-3"></div>
	  </div>
	</div>
	</div>
</div>

<div class="container demo pt-2 pb-2" id="scrollspyHeading1">
	<h2 class="d-flex display-3 justify-content-center">
		My Paintings:
	</h2>
	<h4 class="d-flex justify-content-center">
		<i>You only need to know them to fall in love.</i>
	</h4>
	<div class="row row-cols-1 row-cols-md-3 g-4 ">
	  <div class="col">
		<div class="card h-10">
		  <img class="painting" src="https://i.imgur.com/WRByUJs.png" alt="...">
		  <div class="card-body">
			<h5 class="card-title">A must read! - Times Now</h5>
			<p class="card-text">In addition to great music and a magnificent Mardi Gras celebration, the Crescent City is the setting for many classic and award-winning novels. </p>
		  </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card h-10">
		  <img class="painting" src="https://i.imgur.com/lObPtLp.png" alt="...">
		  <div class="card-body">
			<h5 class="card-title">A must read! - Times Now</h5>
			<p class="card-text">In addition to great music and a magnificent Mardi Gras celebration, the Crescent City is the setting for many classic and award-winning novels. </p>
		  </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card h-10">
		 <img class="painting" src="https://i.imgur.com/8XpPYfT.png" alt="...">
		  <div class="card-body">
			<h5 class="card-title">A must read! - Times Now</h5>
			<p class="card-text">In addition to great music and a magnificent Mardi Gras celebration, the Crescent City is the setting for many classic and award-winning novels. </p>
		  </div>
		</div>
	  </div>
	</div>
	<div class="pt-2 d-flex justify-content-center">
		<button type="button" class="btn btn-lg btn-outline-danger">See More</button>
	</div>

</div>

<div
  class="bg-image p-4 shadow-1-strong rounded mb-5 text-white"
  style="background: rgb(47,42,128);
background: linear-gradient(90deg, rgba(47,42,128,1) 0%, rgba(6,23,82,1) 43%, rgba(183,235,246,1) 100%););"
>
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
	<div class="container">
  <div class="row">
    <div class="col-md-6 p-4">
				<img class="book" src="https://i.imgur.com/ZMTC3il.png">

	  </div>
    <div class="col-md-6 p-4">
		<p class="fw-bolder h3 border-danger border-bottom border-3 pb-4">
			ABOUT THE AUTHOR
		</p>
		<p>
			<span class="pb-3 border-danger border-bottom border-5">                </span>
		</p>
		<p class="pt-3 fs-5">
			Ingrid Jeannis-Desire is a woman of great passion with a positive outlook on life who believes that life offers infinite possibilities; we all just have to find our niche. She lives in a suburb of New York with her husband and daughter.
		</p><p class="pt-3 fs-5">
			She is a retiree in the educational system, but not from education as education is life itself. She is a life-long learner who relishes on discovering and learning new things day by day. She works on projects that promote the welfare of humanity. Life, after all, is about improvement and empowerment.
		</p><p class="pt-3 fs-5">
			She devoted a major part of her life as a teacher, a counselor, and school administrator. Her degrees in the field of psychology, special education, guidance and school counseling, school leadership, and counseling psychology, ranging from the levels of bachelor through doctorate, has paved the path for her many accomplishments. She is grateful for all her experiences and who she is today.
		</p><p class="pt-3 fs-5">
Her journey with the autistic population was God-sent. God knew what He was doing when He placed her in that school. This experience, this journey transformed her life forever.
		</p>
		<button type="button" class="btn btn-lg btn-danger">Learn More</button>

	  </div>
</div>
	</div>
	</div>
	</div>
<%- include("partials/footer") %>		